.App {
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/* here */
.signup-container {
  background-image: url('https://i.ibb.co/Kw2x5DG/marvel-signup-2.jpg');
}
.login-container {
  background-image: url('https://marvelous-project-3.s3.us-east-2.amazonaws.com/marvel-comic-strip.png');
}

.form {
  justify-content: center;
  align-items: center;
}
.content-wrap {
  padding-bottom: 150px;
}
.comic-strip {
  height: 700px;
  margin: auto;
  display: block;
  max-width: 100%;
}

.homecontainer {
  background-color: rgb(46, 0, 0);
  color: white;
  justify-content: center;
  text-align: center;
}

.navbar {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: sans serif typeface;
  color: white;
}

.App-link {
  color: #ffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
