footer {
  background-color: black;
  color: white;
}

.marvel-logo {
  height: 32px;
}

.links {
<<<<<<< HEAD
  text-align: center;
}
=======
	text-align: center;
}
>>>>>>> 44cac47e0e46448fe68ba9d70209db4e7bfecfd0
